body{
    margin: 0;
    background-color: color-mix(in srgb, white 50% , lightpink 50%);
    display: inline;
}
h1,h2,h3{
    text-align: center;
    color: rgb(59, 18, 99);
}
p, ul{
    margin-left: 10vw;
    padding-left: 0%;
}
li{
    list-style: none;
    margin-right: 1vw;
    display: inline;
}
.container{
    background-color: antiquewhite;
    padding: 1%;
}
a{
    margin-right: 1vw;
}
#sideBar{
    width: 30vw;
    height: 30vh;
    float: right;
}
#container1{
    width: 70vw;
    float: left;
}
